<a href="https://colab.research.google.com/github/Eduardo14reyes/Base_de_Datos/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trabajar números en listas.

In [11]:
paises=['canada','Eu','Mexico']
poblacion = [37.8, 330.6, 127.1,]
print('En',paises[2],' Hay ',abs(poblacion[0]-poblacion[2]),'millones mas habitantes que en ',paises[0])

En Mexico  Hay  89.3 millones mas habitantes que en  canada

In [12]:
print('El mayor número de habitantes de la lista es ',max(poblacion))

El mayor número de habitantes de la lista es  330.6

In [13]:
print('El menor número de habitantes de la lista es ',min(poblacion))

El menor número de habitantes de la lista es  37.8

DICCIONARIO
DATOS COMPLEJOS, LISTAS , TUPLAS Y DICCIONARIOS.

In [37]:
alumno = {
    'nombre':'Juan',
    'calificacion': 7
}

print(alumno.get('nombre'))

Juan

In [39]:
alumno['nombre'] ='beatriz'
print(alumno)

{'nombre': 'beatriz', 'calificacion': 7}

In [51]:
alumno['periodo'] ={
    'periodo1' : 8,
    'periodo2' : 9 
}

EJERCICIO; CREAR LISTA 
JUAN, PEDRO , BEATRIZ , MIGUEL Y PAZ
2* SOLICITA POR CONSOLA SE INGRESE UN NUEVO NOMBRE , EL CUAL SE AGREGARÁ A LA LISTA 
3* SOLICITRA UN NOMBRE , Y MANDA UN MENSAJE DE QUE SI ESTA EN LA LISTA

In [52]:
nombres=['JUAN','PEDRO','BEATRIZ','MIGUEL','PAZ']
print(nombres)

['JUAN', 'PEDRO', 'BEATRIZ', 'MIGUEL', 'PAZ']

FUNCIÓN RANDOM , GENERA TANTO  NÚMEROS ALEATORIOS COMO POSICIONES EN LA LISTA O ESCOGER UN VALOR , NO ESTA INTEGRADA EN PYTHON

In [76]:
import random
numero =random.randint(0,5)
print(numero)

5

In [88]:
lista = [2,190,False,'hola','pelota',123,]
lista=random.choice(lista)
print(lista)

190

In [113]:
import random 
lista_numeros = []
lista_numeros.append(random.randint(0,10))
lista_numeros.append(random.randint(0,10))
lista_numeros.append(random.randint(0,10))
lista_numeros.append(random.randint(0,10))
lista_numeros.append(random.randint(0,10))
lista_numeros.append(random.randint(0,10))
lista_numeros.append(random.randint(0,10))
lista_numeros.append(random.randint(0,10))
lista_numeros.append(random.randint(0,10))
lista_numeros.append(random.randint(0,10))


print(lista_numeros)

print(f'el cuadrado de {lista_numeros[0]} es {lista_numeros[0]**2} y el cubo es {lista_numeros[0]**3} ')

[2, 7, 9, 0, 7, 7, 7, 2, 4, 9]
el cuadrado de 2 es 4 y el cubo es 8

In [149]:
3112lista1 = []
lista2 = []  
cadena1 = input("Ingrese la cadena 1: ")
cadena2 = input("Ingrese la cadena 2: ")
cadena3 = input("Ingrese la cadena 3: ")
cadena4 = input("Ingrese la cadena 4: ")
cadena5 = input("Ingrese la cadena 5: ")
lista = [cadena1, cadena2, cadena3, cadena4, cadena5]
lista_inversa = lista[::-1]
print("Los elementos de la lista  son:", lista_)
print("Los elementos de la lista inversa son:", lista_inversa)

Ingrese la cadena 1: 66
Ingrese la cadena 2: 2012.
Ingrese la cadena 3: 120.120.1
Ingrese la cadena 4: 201201
Ingrese la cadena 5: 1201

NameError: ignored

In [151]:
'0'==0

False

In [150]:
'2'==2

False

In [152]:
5>= 5.0

True

SOLICITAR UN NUMERO QUE NOS IMPRIMA TRUE O FALSE

SyntaxError: ignored

condicionante simple

In [165]:
a = 97
b = 55
if a < b:
    print(b)

In [166]:
a = 24
b = 44
if a <= 0:
    print(a)
print(b)

44

condicional compuesta

In [167]:
a = 97
b = 55
if a < b:
    print(b)
else:
    print(a)

97

In [168]:
a = 93
b = 93
if a > b:
    print("a es mayor o igual que b")
elif a == b:
    print("a es igual que b")

a es igual que b

solicitar 3 numeros y ver cual es el mayor de los 3 , 2do ejercicio imprimirlos de mayor a menor

In [172]:

a = 23
b = 34
if a == 34 or b == 34:
    print(a + b)

57

EN AND NO SE VA A EJECUTAR SI UNA ES FALSO , NECESITAMOS QUE LOS DOS SEAN VERDADEROS

In [174]:
a = 23
b = 34
if a== 34 and b == 34:
  print('ok')

In [ ]:
años_normales = 365
años_bisiestos = 366
si el numero del año no es divisible entre 4 es un año comun de lo contrario si el año no es divisible entre 100 es un año bisiesto, si no es divible entre 400 es comun